In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
path=Path('/Users/sabinhashmi/Code Hub/KopKopi Works/YelpScrap_27Mar2021')

In [2]:
list_01=[]
for files in path.glob('*.csv'):
    data=pd.read_csv(files,index_col=None,header=0)
    list_01.append(data)

data=pd.concat(list_01,ignore_index=True,axis=0)

In [3]:
data.head()

,web-scraper-order,web-scraper-start-url,link,link-href,name,number,street_address,street_town,Cuisine
0,1616845207-1297,https://www.yelp.pl/search?find_desc=cafe&find...,NaN,https://www.yelp.pl/search?find_desc=cafe&find...,90. Cafe Pralinka,61 667 15 10,ul. Pówiejska 42,NaN,NaN
1,1616845183-1240,https://www.yelp.pl/search?find_desc=cafe&find...,NaN,https://www.yelp.pl/search?find_desc=cafe&find...,49 . Emma Cafe,61 852 58 98,ul. Kościuszki 71/73,NaN,"Coffee and tea , Cafes"
2,1616845183-1238,https://www.yelp.pl/search?find_desc=cafe&find...,NaN,https://www.yelp.pl/search?find_desc=cafe&find...,47 . Hort Cafe BS Barańscy,NaN,Głogowska 29,NaN,"Bakeries , Bars"
3,1616845183-1235,https://www.yelp.pl/search?find_desc=cafe&find...,NaN,https://www.yelp.pl/search?find_desc=cafe&find...,44 . Pracownia Cafe,50 813 16 64,ul. Woźna 17,NaN,"Vegan , Vegetarian"
4,1616845158-1156,https://www.yelp.pl/search?find_desc=cafe&find...,NaN,NaN,5 . Cafe Ryczka,78 680 64 06,ul. Polna 27,NaN,"Kawiarnie, Ciastka, Śniadanie i brunch"

In [4]:
data.drop(['link','link-href','web-scraper-order','web-scraper-start-url'],axis=1,inplace=True)

In [5]:
data=data.rename(columns={'name':'Cafe_Name','number':'Contact_Number','street_address':'Street_Address','street_town':'Town'})

In [6]:
data.head()

,Cafe_Name,Contact_Number,Street_Address,Town,Cuisine
0,90. Cafe Pralinka,61 667 15 10,ul. Pówiejska 42,NaN,NaN
1,49 . Emma Cafe,61 852 58 98,ul. Kościuszki 71/73,NaN,"Coffee and tea , Cafes"
2,47 . Hort Cafe BS Barańscy,NaN,Głogowska 29,NaN,"Bakeries , Bars"
3,44 . Pracownia Cafe,50 813 16 64,ul. Woźna 17,NaN,"Vegan , Vegetarian"
4,5 . Cafe Ryczka,78 680 64 06,ul. Polna 27,NaN,"Kawiarnie, Ciastka, Śniadanie i brunch"

In [7]:
cafe=[]
for i in range(data.shape[0]):
    cafe.append(data['Cafe_Name'].str.split('.\xa0')[i][1])

In [8]:
data.drop('Cafe_Name',axis=1)
data['Cafe_Name']=cafe

In [9]:
data.head(10)

,Cafe_Name,Contact_Number,Street_Address,Town,Cuisine
0,Cafe Pralinka,61 667 15 10,ul. Pówiejska 42,NaN,NaN
1,Emma Cafe,61 852 58 98,ul. Kościuszki 71/73,NaN,"Coffee and tea , Cafes"
2,Hort Cafe BS Barańscy,NaN,Głogowska 29,NaN,"Bakeries , Bars"
3,Pracownia Cafe,50 813 16 64,ul. Woźna 17,NaN,"Vegan , Vegetarian"
4,Cafe Ryczka,78 680 64 06,ul. Polna 27,NaN,"Kawiarnie, Ciastka, Śniadanie i brunch"
5,Vogue Cafe Restaurant Piechocka Elżbieta Piech...,NaN,May 3 46,NaN,Bars
6,Babki Cafe,69 740 55 58,Kramarska 21/2,NaN,"Kawiarnie, Kawa i herbata"
7,Cafe Ptasiek,61 639 32 70,ul. Jewish 10,NaN,"$$ Cafes , Coffee & Tea"
8,Minister Cafe,79 252 88 09,ul. Ratajczaka 34,NaN,"$Kawiarnie, Puby, Śniadanie i brunch"
9,Cafe Bordo Restaurant,61 851 00 81,ul. Żydowska 28,NaN,$$ Cafes

In [10]:
data.to_csv('1kCafes_Poland.csv')