In [57]:
import geocoder
import requests
import json
import pandas as pd
import numpy as np
import time
API_key = 'AIzaSyDpYOoqWz4GfdTdpDdSdGmvVvNiRM_HuJA'

In [58]:
#To check Cafe

query='cafe'
params = {
    'key' : API_key,
    'query' : query,
    'region' : '.pl'
}

base_url= 'https://maps.googleapis.com/maps/api/place/textsearch/json?'

response = requests.get(base_url,params=params).json()

In [59]:
data=pd.DataFrame(index=np.arange(1,len(response['results'])+1))
name=[]
lat=[]
long=[]
for i in range(len(response['results'])):
    name.append(response['results'][i]['name'])
    lat.append(response['results'][i]['geometry']['location']['lat'])
    long.append(response['results'][i]['geometry']['location']['lng'])

data['Name']=name
data['Latitude']=lat
data['Longitude']=long




# data=pd.DataFrame(index=np.arange(1,273))
# name=[]
# lat=[]
# long=[]
# for j in range(len(response['results'])):
#     for i in range(len(response['results'][j])):
#         name.append(response['results'][i]['name'])
#         lat.append(response['results'][i]['geometry']['location']['lat'])
#         long.append(response['results'][i]['geometry']['location']['lng'])

# data['Name']=name
# data['Latitude']=lat
# data['Longitude']=long

In [60]:
data

                                               Name   Latitude  Longitude
1                           I Love Coffee Kawiarnia  50.073946  19.917044
2   Café Feliz Kawiarnia Ciasta Kanapki śniadaniowe  50.071428  19.924867
3                                              CAFE  50.066884  19.920060
4                                        Fable Cafe  50.065265  19.927523
5                               Akwarium. Kawiarnia  50.071817  19.908328
6                 Organic Coffee Krakow Jordan Park  50.060826  19.919295
7                                        Fidrygałki  50.071546  19.919502
8                                    Kawiory 8 Café  50.067464  19.913304
9                                       Café Lisboa  50.063753  19.927975
10                        Pojnarówka art&coffee bar  50.064198  19.924694
11                                     Cafe Tektura  50.063585  19.931071
12                                      Soho Coffee  50.067206  19.928853
13                               POP UP Coffee Shop  50.068010  19.928002
14            Karma Cafe | Vegetarian cafe and deli  50.063380  19.930597
15                                     Urban Coffee  50.071236  19.926809
16                                  Umeblowana Cafe  50.058787  19.924828
17                           Massolit Bakery & Cafe  50.059100  19.930365
18                                     Żarówka Cafe  50.063316  19.940061
19                                    Aurelita Cafe  50.070986  19.934117
20                                        MICROSCUP  50.067289  19.918648

In [61]:
#To check Cafe
complete_results=[]
query='cafe'
params = {
    'key' : API_key,
    'query' : query,
    'region' : '.pl',
    'page_token':''
}

base_url= 'https://maps.googleapis.com/maps/api/place/textsearch/json?'

response = requests.get(base_url,params=params).json()
complete_results.append(response['results'])
for i in range(5):

    time.sleep(1)
    params.update({"page_token": response["next_page_token"]})
    response = requests.get(base_url,params=params).json()
    complete_results.append(response['results'])

In [64]:
response['next_page_token']

'ATtYBwL5atH84ovaqOPmViiJPBpo93J9FPEQaL3AfZRHbJxdIYXJlYQo2-HVBGvPdy63NakZuB-MdtlkC_IifZ0MacHNyyumrivzcF8pcTrF7YYLzic3ncxW9fMrdrVifS1RfSxGyLK6C1KOaObwTupVDjrgeAoT0C0gfiCXu8hSbP08FFpp-dCdiGRDFvKEOUeMB7UgEhgAMADbLEijvpapWrDzmPUtYB6IimqHiI1ETOQNV5JKew6bDaA0nLq0waC1dJSdvtnElku9mMdbBn1Z90TgsSpV6NHP1IL43zKgnhaI_DYWyCbiLDdW-PhG7mEAw8_ZZkk51Gx9FAHK21ejqHnSCvga9og69WYGkFYoi220yuw0tjD4GFmGbh71oiPzk20'

In [62]:
data['Name'].nunique()

20