In [2]:
import pandas as pd

In [3]:
data=pd.read_csv('/Users/sabinhashmi/Code Hub/CodeScripts/OzLottery2/6kSequence.csv')

In [4]:
data.head()

,Unnamed: 0,Number-1,Number-2,Number-3,Number-4,Number-5,Number-6,Number-7,Sum
0,0,6,12,15,16,19,27,29,124
1,447,8,9,10,20,24,29,35,135
2,662,1,7,11,20,26,31,34,130
3,699,9,14,17,18,22,27,28,135
4,754,3,4,16,20,26,29,33,131

In [5]:
data.shape

(6373, 9)

In [9]:
data=data.drop(['Unnamed: 0','Sum'],axis=1)

In [15]:
old_sequence=[18,30,16,29,6,33,35]
print(data[data.isin(old_sequence)==True].dropna(how='any'))

      Number-1  Number-2  Number-3  Number-4  Number-5  Number-6  Number-7
0          6.0       NaN       NaN      16.0       NaN       NaN      29.0
1          NaN       NaN       NaN       NaN       NaN      29.0      35.0
3          NaN       NaN       NaN      18.0       NaN       NaN       NaN
4          NaN       NaN      16.0       NaN       NaN      29.0      33.0
7          NaN       NaN       NaN      18.0       NaN       NaN      35.0
...        ...       ...       ...       ...       ...       ...       ...
6368       NaN       NaN       NaN       NaN       NaN       NaN      29.0
6369       NaN       NaN      16.0       NaN       NaN       NaN       NaN
6370       NaN       NaN       NaN      18.0       NaN       NaN      33.0
6371       NaN       NaN      16.0       NaN       NaN       NaN      29.0
6372       NaN       NaN       NaN       NaN       NaN       NaN      29.0

[5180 rows x 7 columns]

In [17]:
data=pd.read_excel('/Users/sabinhashmi/Code Hub/CodeScripts/OzLottery2/Powerball.xlsx')

In [19]:
data['Powerball '].value_counts()

19    30
2     28
5     25
3     24
7     24
12    24
11    23
9     22
10    22
18    21
6     20
13    20
15    20
4     19
17    18
20    18
8     18
1     16
14    14
16    12
Name: Powerball , dtype: int64