In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor
sns.set_theme(style="darkgrid")

In [3]:
original_data=pd.read_excel('/Users/sabinhashmi/Code Hub/CodeScripts/OzLottery2/Powerball.xlsx')
original_data.drop(['Date'],axis=1,inplace=True)
print(f"Data Dimension is {original_data.shape}")

Data Dimension is (418, 35)

In [4]:
data=original_data.iloc[:,1:9]
data=data.dropna(how='any').rename(columns={'Winning Number 1' : 1,'Powerball ':'Powerball'}).astype('int')
data['Sum']=data.drop('Powerball',axis=1).sum(axis=1)

In [5]:
x=data.drop('Powerball',axis=1)
y=data['Powerball']

In [6]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [7]:
rf=RandomForestRegressor()
rf.fit(x_train,y_train)
y_predict=rf.predict(x_test)
print(np.sqrt(mean_squared_error(y_test,y_predict)))

7.546253075790061

In [8]:
values=[]
data_01=pd.DataFrame(values,columns=['Test'])

data_01['Test']=y_test
data_01['Predict']=y_predict.round()

data_01['Difference']=data_01['Test']-data_01['Predict']
data_01

     Test  Predict  Difference
14      2     10.0        -8.0
98      2      8.0        -6.0
75     19     10.0         9.0
16     20     13.0         7.0
131    20      6.0        14.0
56     17      7.0        10.0
141    16      7.0         9.0
44     10     10.0         0.0
29     19     11.0         8.0
120    20      6.0        14.0
94     19      9.0        10.0
5      11      9.0         2.0
102     7     10.0        -3.0
51      2      9.0        -7.0
78     13     10.0         3.0
42     15     10.0         5.0
92      7      7.0         0.0
66      1     10.0        -9.0
31      1     10.0        -9.0
35     19     14.0         5.0
90      3     12.0        -9.0
84      4     14.0       -10.0
77      2      8.0        -6.0
40     19      7.0        12.0
125    13      7.0         6.0
99      9      8.0         1.0
33      5     10.0        -5.0
19     10     10.0         0.0
73     10      8.0         2.0
147    14     12.0         2.0
91     20      8.0        12.0

In [12]:
num1=[1,2,3,4,5,6,7,8,9,10]
num2=[7,5,6,14,3,4,9,10,8,12]
num3=[9,17,11,14,8,10,16,18,7,15]
num4=[17,16,20,18,11,13,24,12,14,19]
num5=[22,21,17,19,26,27,23,24,25,29]
num6=[28,30,23,29,25,27,24,31,26,32]
num7=[35,32,33,34,31,29,30,27,28,25]

In [45]:
# test_data=data.drop(['Powerball','Sum'],axis=1)

In [55]:

# list_01=[]

# for i in range(test_data.shape[0]):

#     list_01.append(sorted(test_data.values[i]))

# data_02=pd.DataFrame(list_01,columns=[1,2,3,4,5,6,7])

# data_02